
body > nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    a {
        text-decoration: unset;
        display: block;
        padding: 6px 12px 6px 10px;
        margin: 0 -8px;
        border-left: 2px solid transparent;

        &:hover, &:active {
            border-left-color: unset;
        }
    }

    .nav-brand {
        font-family: "Roboto Mono", monospace;
        font-size: 15px;
    }
    
    ul {
        display: flex;
        padding: unset;
        margin: unset;
        margin-right: -8px;
        flex-direction: column;

        li {
            display: flex;
            justify-content: stretch;
            align-items: stretch;

            a {
                flex-grow: 1;
            }
        }
    }

    @media screen and (min-width: 500px) {
        background: linear-gradient(to bottom, transparent, #333333);

        > .container {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

        a {
            text-decoration: unset;
            display: block;
            padding: 6px 12px 4px;
            border-left: unset;
            border-bottom: 2px solid transparent;
            margin: unset;

            &:hover, &:active {
                border-bottom-color: unset;
                background: linear-gradient(to bottom, transparent, #424242);
            }
        }

        .nav-brand {
            margin-left: -8px;
        }

        ul {
            flex-direction: row;
        }
    }


}
